/* Add your custom extension styling here */
.ExcusesMainBox {
    padding: 10px 30px;
    width: 400px;
}

.ExcusesTitle {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.ExcusesExcuse {
    text-align: center;
}

.ExcusesExcuse__Error {
    color: #ff0000;
}

.AboutLogo, .AboutVersion {
    margin-bottom: 20px;
}

.AboutTitle {
    font-weight: bold;
}

.AboutTitle, .AboutDescription {
    font-size: 14px;
}